.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 195, 177);
}


/* pu  */

h2 {
  color: grey;
}
